<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 1 </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="~/template/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/template/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/template/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/template/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/template/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/template/assets/css/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="~/template/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/template/assets/js/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>
@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">b24chht017HienptProject1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div>
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Các chức năng</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li>
                                        <a href="/Home/Index">
                                            <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.form-components.main">Nhân viên</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/Report">
                                            <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.form-components.main">Báo cáo</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    </ul>
                            </div>
                        </nav>
                        <div>
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
        </div>
          
    </div>



   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - b24chht017HienptProject1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script type="text/javascript" src="~/template/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/template/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/template/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/template/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/template/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/template/assets/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="~/template/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/template/assets/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="~/template/assets/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/template/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/template/assets/js/script.js"></script>
    <script type="text/javascript " src="~/template/assets/js/SmoothScroll.js"></script>
    <script src="~/template/assets/js/pcoded.min.js"></script>
    <script src="~/template/assets/js/demo-12.js"></script>
    <script src="~/template/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
