@using b24chht017HienptProject1.Models
@model List<Cau1>

<div>
    <table class="table" style="margin-top:10px">
        <thead>
            <tr>
                <th>Tên bệnh</th>
                <th>Số lần khám</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenBenh</td>
                    <td>@item.solankham</td>
                </tr>
            }
           
        </tbody>
    </table>
</div>
